<div class="container" id="pet-page">
  <div class="row">
    <% if user_signed_in? && current_user==@pet.user %>
        <%=form_for @pet,remote: true do |f|%>
            <div class="col-sm-3 col-md-3 col-lg-3 center-align">
              <label for="pet_avatar"><%=cl_image_tag @pet.avatar,size: "200x200", class: "pet-avatar" if @pet.avatar%></label><br>
              <h2><%=@pet.name%></h2>
              <%= t('common.follows_text')+': '+@pet.follow_numbers.to_s%>
              <%= f.file_field :avatar,style: "visibility:hidden"%>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="row col-sm-12 col-md-12 col-lg-12">
                <h3><b><%=t('showpet.title')%></b></h3>
              </div>
              <div class="field">
                <%= f.hidden_field :user_id,value: current_user.id %>
              </div>
              <div class="field row">
                <div class="col-sm-3 col-md-3 col-lg-3"><%= t('newpet.name') %></div>
                <div class="col-sm-9 col-md-9 col-lg-9"><%= f.text_field :name, autocomplete: "off", class: "form-control" %></div>
              </div>
              <div class="field row">
                <div class="col-sm-3 col-md-3 col-lg-3"><%= t('newpet.kind') %></div>
                <div class="col-sm-9 col-md-9 col-lg-9"><%= f.collection_select :kind_id,Kind.all,:id,:name,{}, {class: "form-control"} %></div>
              </div>
              <div class="field row">
                <div class="col-sm-3 col-md-3 col-lg-3"><%= t('newpet.gender')%></div>
                <div class="col-sm-9 col-md-9 col-lg-9">
                  <%=t('newpet.male')%><%= f.radio_button :gender,1,checked: true%>
                  <%=t('newpet.female')%><%= f.radio_button :gender,0%>
                </div>
              </div>
              <div class="field row">
                <div class="col-sm-3 col-md-3 col-lg-3"><%= t('newpet.birthday') %></div>
                <div class="col-sm-9 col-md-9 col-lg-9"><%= f.date_select :birthday, {start_year: 1917, end_year: 2002}, :class => "form-control date-select" %></div>
              </div>
              <div class="field row">
                <div class="col-sm-3 col-md-3 col-lg-3"><%= t('newpet.weight') %></div>
                <div class="col-sm-9 col-md-9 col-lg-9"><%= f.number_field :weight, class: "form-control"%></div>
              </div>
              <div class="field row">
                <div class="col-sm-3 col-md-3 col-lg-3"><%= t('newpet.description') %></div>
                <div class="col-sm-9 col-md-9 col-lg-9"><%= f.text_area :description, rows: "5", class: "form-control"%></div>
              </div>
              <div class="actions row">
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
                <div class="col-sm-9 col-md-9 col-lg-9"><%= f.submit t('showpet.submit'), class: "btn btn-primary" %></div>
              </div>

            </div>
        <%end%>
    <% else %>
        <div class="col-sm-3 col-md-3 col-lg-3 center-align">
          <label ><%=cl_image_tag @pet.avatar,size: "200x200", class: "pet-avatar" if @pet.avatar%></label>
          <h2><%=@pet.name%></h2>
          <%= t('common.follows_text')+': '+@pet.follow_numbers.to_s%>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="row col-sm-12 col-md-12 col-lg-12">
            <h3><b><%=t('showpet.title')%></b></h3>
          </div>

          <div class="field row">
            <div class="col-sm-3 col-md-3 col-lg-3"><%= t('newpet.name') %></div>
            <div class="col-sm-9 col-md-9 col-lg-9"><%= @pet.name %></div>
          </div>
          <div class="field row">
            <div class="col-sm-3 col-md-3 col-lg-3"><%= t('newpet.kind') %></div>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <%= @pet.kind.name %>
            </div>
          </div>
          <div class="field row">
            <div class="col-sm-3 col-md-3 col-lg-3"><%= t('newpet.gender')%></div>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <%=t('newpet.male') if @pet.gender==1%>
              <%=t('newpet.female') if @pet.gender==0%>
            </div>
          </div>
          <div class="field row">
            <div class="col-sm-3 col-md-3 col-lg-3"><%= t('newpet.birthday') %></div>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <%= @pet.birthday.strftime("%m/%d/%Y") %>
            </div>
          </div>
          <div class="field row">
            <div class="col-sm-3 col-md-3 col-lg-3"><%= t('newpet.weight') %></div>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <%= @pet.weight%>
            </div>
          </div>
          <div class="field row">
            <div class="col-sm-3 col-md-3 col-lg-3"><%= t('newpet.description') %></div>
            <div class="col-sm-9 col-md-9 col-lg-9"><%= @pet.description%></div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
        </div>
    <% end %>
    <div class="col-sm-3 col-md-3 col-lg-3 text-align-right">
      <br>
      <% if current_user.is_owner? @pet %>
          <%=link_to t('showpet.delete'),@pet,method: :delete,data: {confirm: "Are you sure?"},class: 'btn btn-danger'%>
      <% else %>
          <% if current_user.followed? @pet %>
              <%=render 'follows/unfollow_button', follow: Follow.where(user_id: current_user.id,pet_id: @pet.id).first %>
          <% else %>
              <%=render 'follows/follow_button', pet_id: @pet.id %>
          <% end %>
      <% end %>
    </div>
  </div>
  &nbsp;
  <div class="row">
    <ul class="horizontal-menu nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#show_photos"><%= @photos.count.to_s+' '+t('user_page.image_text')%></a></li>
      <li><a data-toggle="tab" href="#show_albums"><%= t('album.title')%></a></li>
    </ul>
  </div>
  <div class="row tab-content" id="content">
    <div id="show_photos" class="tab-pane fade in active">
      <%= render 'photos/all_photo', {photos: @photos}%>
    </div>
    <div id="show_albums" class="tab-pane fade">
      <%=link_to '',new_album_path %>
      <%= render 'albums/list_album', {list_album: @pet.albums} %>
    </div>
  </div>
</div>

