<% case notification.action %>
	<% when "followed" %>
		<li id='<%=notification.id%>' class="notication-item">
      <div class="content-notication"><%=link_to notification.user.last_name + " " + notification.action + " " +  notification.notifiable.name,notification.notifiable%></div>
		</li>
	<% when "uploaded" %>
		<li id='<%=notification.id%>' class="notication-item">
			<div class="content-notication"><%=link_to notification.notifiable.pet.name + " " + notification.action + " " + 'photo',notification.notifiable%></div>
		</li>
	<% when "commented" %>
		<li id="<%=notification.id%>"  class="notication-item">
			<div class="content-notication"><%=link_to notification.user.last_name + " " + notification.action + " " + truncate(notification.notifiable.caption ),notification.notifiable%> </div>
			</li>
<% end %>
<script type="text/javascript">
	$("li#<%=notification.id%> a").click(function(){		
		$.ajax({
	        url: '/notifications/'+'<%=notification.id%>',
	        type: 'DELETE'	       
	    });
	});
</script>