<div class="container">
  <div class="brand center-align">
    <i class="fa fa-camera" aria-hidden="true" style="font-size: 50px"></i>
    <h2>可愛いペット</h2>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6 center-block">
    <%= devise_error_messages! %>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 center-block">
      <h3>Change your password</h3>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="_method" value="put">
        <%= f.hidden_field :reset_password_token %>
        <div class="form-group">
          <label for="user_password">New password</label>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <input autofocus="autofocus" autocomplete="off" type="password" name="user[password]" id="user_password" class="form-control">
        </div>
        <div class="form-group">
          <label for="user_password_confirmation">Confirm new password</label>
          <input autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" name="commit" value="Change my password" data-disable-with="Change my password" class="btn btn-default">
          <p><%= link_to "Log in", new_session_path(resource_name) %> <%= link_to "Sign up", new_registration_path(resource_name) %></p>
        </div>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <% end %>
      </div>
  </div>
</div>