<div id='follow-<%=follow.id%>' class='row'>
	<% 
		pet=follow.pet
		user=pet.user
	%>
	<div id='follow-pet-avatar' class='col-md-3'>
		<%=link_to (cl_image_tag pet.avatar,size: "80x80"),pet %>
	</div>
	<div class='col-sm-5 col-md-5 col-lg-5'>
		<%= link_to pet.name, pet%><br>
		主人:<%=link_to "#{user.first_name} #{user.last_name}",user %>
	</div>
	<div class='col-sm-2 col-md-2 col-lg-2'>
		<%=render 'follows/unfollow_button',follow: follow %>
	</div>
</div>