<%= form_for(photo) do |f| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% unless album %>
    <div class="field">
      <%= select_tag :pet,options_from_collection_for_select(current_user.pets,:id,:name)%>
      <%=link_to '',new_pet_path,class: "btn btn-default glyphicon glyphicon-plus"%>
    </div>  
    <div class="field">
      <%= f.label t('newphoto.album') %>
      <%= f.collection_select :album_id,albums,:id,:name %>
      <label id="new_album" class="btn btn-default glyphicon glyphicon-plus"></label>
    </div>
  <% else %>
    <div class="field">
      <%= f.label t('newphoto.album') %>
      <%= album.name%>
      <%= f.hidden_field :album_id,value: album.id%>      
    </div>    
  <% end %>
  <div class="field">    
    <%= f.label t('newphoto.image') %>    
    <%= image_tag(photo.image, size: "250x250")%>
    <label for="photo_image" class="btn btn-default"><%=t('newphoto.select')%></label>
    <%= f.file_field :image,style: "visibility:hidden"%>
  </div>

  <div class="field">
    <%= f.label t('newphoto.caption') %>
    <%= f.text_field :caption %>
  </div>

  <div class="actions">
    <%= f.submit t('newphoto.submit') %>
  </div>
<% end %>
<%=render 'new_album_modal'%>
