<div class="container">	
  <div class="row center-align">  	  
    <h1><b>可愛いペット</b></h1>
    <h3><%= t('common.text_everyone_can_upload')%></h3>
    <a href="<%=new_photo_path%>"><%= t('common.submit_photo')%></a>
  </div>
  &nbsp;
  <ul class="main-photos hero">  
      <%=render @photos %>  
  </ul>
  <%= will_paginate %>
</div>