<div class="row">
	<div class="col-md-8">
		<p>
		  <strong>Caption:</strong>
		  <%= @photo.caption %><br>
		  by <%=@photo.owner_last_name%>
		</p>
		<p>
		  <strong>Image:</strong>
		  <%= image_tag @photo.image,size: "500x500"%><br>
		  <span id="like_numbers"><%= @photo.like_numbers%></span> likes
		  <% if @like %>
		  	<%=link_to "",@like,method: :delete,remote: true,class: "glyphicon glyphicon-thumbs-down",id: "dislike"%>
		  <% else %>
		  	<%=link_to "",likes_path(user_id: current_user.id,photo_id: @photo.id),method: :post,remote: true,class: "glyphicon glyphicon-thumbs-up",id: "like"%>
		  <% end %>		  
		  <br>
		  <span id="comment_numbers"><%= @photo.comment_numbers%></span> comments<br>
		</p>

		<p>
		  <strong>Album:</strong>
		  <%= @photo.album_name %>
		</p>
		<%=form_for(Comment.new,remote: true) do |f| %>
			<%=f.hidden_field :user_id,value: current_user.id %><br>
			<%=f.hidden_field :photo_id,value: @photo.id %><br>
			<%=f.text_area :content%><br>
			<%=f.submit 'Comment'%>
		<% end %>
		<div id="comment_area">
			<%=render @comments%>			
		</div>				
	</div>
	<div class="col-md-4">
		<%=link_to 'View album',@photo.album,class: "btn btn-default"%><br>
		<% @photos.each do |photo| %>
			<%=link_to (image_tag photo.image,size: "40x40"),photo %><%=photo.caption%><br>
		<% end %>
	</div>
</div>


