<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
      <span class="caption"><%= @photo.caption %></span><br>
      <span class="author">by <%=@photo.owner_last_name%></span>
      <%=link_to '',@photo,method: :delete,data:{confirm: "Are you sua?"},class: 'btn btn-danger glyphicon glyphicon-trash' if current_user==@photo.user%>
      <br>
      <%= image_tag @photo.image,size: "500x500"%><br>
      <% if @like %>
          <%=link_to "",@like,method: :delete,remote: true,class: "glyphicon glyphicon-thumbs-down",id: "dislike"%>
      <% else %>
          <%=link_to "",likes_path(user_id: current_user.id,photo_id: @photo.id),method: :post,remote: true,class: "glyphicon glyphicon-thumbs-up",id: "like"%>
      <% end %>
      <span id="like_numbers"><%= @photo.like_numbers%></span> likes
      <span id="comment_numbers"><%= @photo.comment_numbers%></span> comments<br>

      <%=form_for(Comment.new,remote: true) do |f| %>
          <%=f.hidden_field :user_id,value: current_user.id %><br>
          <%=f.hidden_field :photo_id,value: @photo.id %><br>
          <%=f.text_area :content, class: "form-control", cols: 5, hint: ""%><br>
          <%=f.submit 'Comment', class: "btn btn-default btn-comment" %>
      <% end %>
      <br>
      <div id="comment_area">
        <%=render @comments%>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <%=link_to session[:locale] == 'ja'? @photo.album_name+t('photodetail.view_album'): t('photodetail.view_album')+@photo.album_name,@photo.album,class: "btn btn-default"%><br>
      <% @photos.each do |photo| %>
          <%=link_to (image_tag photo.image,size: "40x40"),photo %><%=photo.caption%><br>
      <% end %>
    </div>
  </div>
</div>


