<% if @results.count == 0
%>
    <div class="cd-container row">
      <div class="search-title col-md-4 col-lg-4">No results</div>
    </div>
<%else%>
<div class="cd-container row">
  <div class="search-title">Search results</div>
  <ul class="list-item-search">
    <% @results.each do |x| %>
      <%if x.searchable_type == "Pet" %>
        <li class="col-md-3 col-lg-3 item">
          <div class="item-img">
            <%= link_to (cl_image_tag x.searchable.avatar), x.searchable %>
          </div>
          <div class="item-info">
            <%= link_to "Pet: " + x.searchable.name, x.searchable %>
            <br>
            <span class="date">
          <%= x.created_at%>
        </span>
          </div>
        </li>
      <%end%>
    <%end%>

    <% @results.each do |x| %>
        <%if x.searchable_type == "Album" %>
            <li class="col-md-3 col-lg-3 item">
              <div class="item-img">
                <%= link_to (cl_image_tag "http://imaging.nikon.com/lineup/dslr/df/img/sample/img_02.jpg",size: "40x40"), x.searchable %>
              </div>
              <div class="item-info">
                <%= link_to "Album: " + x.searchable.name, x.searchable %>
                <br>
                <span class="date">
                  <%= x.created_at%>
                </span>
              </div>
            </li>
        <%end%>
    <%end%>

    <% @results.each do |x| %>
        <%if x.searchable_type == "Comment"
        %>
            <li class="col-md-3 col-lg-3 item">
              <div class="item-img">
                <%= link_to (cl_image_tag x.searchable.photo.image), x.searchable.photo %>
              </div>
              <div class="item-info">
                <%= link_to "Comment: " + x.content, x.searchable.photo %>
                <br>
                <span class="date">
        <%= x.created_at%>
      </span>
              </div>
            </li>
        <%end%>
    <%end%>

    <% @results.each do |x| %>
        <%if x.searchable_type == "Photo"
        %>
            <li class="col-md-3 col-lg-3 item">
              <div class="item-img">
                <%= link_to (cl_image_tag  x.searchable.image), x.searchable %>
              </div>
              <div class="item-info">
                <%= link_to "Photo: " + x.content, x.searchable %>
                <br>
                <span class="date">
        <%= x.created_at%>
      </span>
              </div>
            </li>
        <%end%>
    <%end%>

  </ul>
</div>
<%end%>
