<!DOCTYPE html>
<html>
  <head>
    <title>DemoCarrier</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render 'layouts/navbar' %>
    

  	<% flash.each do |alert,message| %>
  		<div class="alert alert-<%= alert %>"><%= message %></div>
  	<% end %>  	
    <%= yield %>
  </body>
</html>
