<!DOCTYPE html>
<html>
  <head>
    <title>可愛いペット</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="brand col-sm-2">
        <%=link_to ' 可愛いペット',root_path,class: 'glyphicon glyphicon-home'%>
      </div>
      <div class="search-box col-sm-4">
        <div class="icon-addon">
          <input type="text" placeholder="Search..." class="form-control search-input-box">
          <span class="glyphicon glyphicon-search"></span>
        </div>
      </div>
      <div class="col-sm-6">
        <ul class="right-menu">
          <li><%=link_to 'Home',root_path %></li>          
          <li><a href="<%= new_photo_path%>">New photo</a></li> 
          <% if user_signed_in? %>
            <a href=""><img src="<%=current_user.avatar%>" alt="" height="42" width="42"></a>
            <li class="dropdown">
              <span class="dropdown-toggle" type="button" data-toggle="dropdown"><strong><%=current_user.first_name+' '+current_user.last_name||='No name'%></strong>
              <span class="caret"></span></span>
              <ul class="dropdown-menu">
                <li><%=link_to 'Profile', current_user %></li>
                <li><%=link_to 'Log out',destroy_user_session_path,method: :delete %></li>   
              </ul>
            </li>
          <% else %>
            <li><a href="<%=user_session_path%>" class="btn btn-default btn-login">Login</a></li>
            <li><a href="<%=new_user_registration_path%>" class="btn btn-warning btn-signup">Signup</a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% flash.each do |alert,message| %>
      <div class="alert alert-<%= alert %>
            <%= alert=="alert"? "alert-danger":(
      alert=="notice"? "alert-info": "") %>"><%= message %></div>
    <% end %>
    <div class="page-container">
      <%= yield %>
    </div>
  </body>

</html>
